
.remove-btn{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: none;
    background-color: #f09533;
    border-radius: .5em !important;
    color: white;
    border: none;
    padding: 10px;
    width: 90vw;
    min-height: 55px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}

.select-bar{
    text-align: center;
    background: #fff;
    padding: 30px 0;

    .drop-down{
        margin: 0 20px 0 20px;
        label{
            display: block;
        }
        select{
            width: 100%;
            margin: 0;
            width: 90vw;
            padding: 15px 10px;
            background-color: #edf2f6;
            border: none;
            margin-bottom: 10px;
            text-align: center;
            box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
            text-align-last:center;
            min-height: 55px;
        }
    }
    
}

.add-btn{
    background-color: #339af0;
    border-radius: .5em !important;
    color: white;
    border: none;
    padding: 10px;
    width: 90vw;
    min-height: 55px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    
}

select{
    margin: 0 10px;
}