@import url(http://fonts.googleapis.com/css?family=B612 Mono&subset=latin);* {
  font-family: "B612", sans-serif;
}

body {
  background-color: #3490dc;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ccc;
}

th,
td {
  text-align: left;
  padding: 4px;
}

.admin-table {
  width: 100%;
  color: #9b9fa4;
  background-color: #fff;
}

.admin-table thead {
  background-color: #1a1f23;
  border-bottom: 6px solid #0ca4ff;
  font-weight: bold;
}

.admin-table tbody {
  color: #6f6f6f;
}

.admin-table th {
  padding: 30px 10px;
}

.admin-table td {
  padding: 10px;
  border: solid 1px #d8d8d8;
}

.admin-table td:last-child {
  text-align: center;
}

.admin-table td .remove-btn {
  width: 100%;
}

.admin-table tr:nth-child(even) {
  background: #ebebeb;
}

@media only screen and (max-width: 600px) {
  .complex-col {
    display: none;
  }
}

select {
  margin: 0 10px;
  cursor: pointer;
}

input {
  cursor: pointer;
}

.remove-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #f09533;
  border-radius: 0.5em;
  color: #fff;
  border: none;
  padding: 10px;
  width: 90vw;
  min-height: 55px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.select-bar {
  text-align: center;
  background: #fff;
  padding: 30px 0;
}

.select-bar .drop-down {
  margin: 0 20px 0 20px;
}

.select-bar .drop-down label {
  display: block;
}

.select-bar .drop-down select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 90vw;
  max-width: 350px;
  padding: 15px 10px;
  background-color: #e6e6e6;
  border: none;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -moz-text-align-last: center;
       text-align-last: center;
  min-height: 55px;
}

.add-btn {
  background-color: #3490dc;
  border-radius: 0.5em;
  color: #fff;
  border: none;
  padding: 10px;
  width: 90vw;
  max-width: 350px;
  min-height: 55px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

